/*CLEAR FIX*/
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*@font-face {*/
/*font-family: 'Comfortaa';*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*src: local('Comfortaa'), url('../fonts/Comfortaa_Regular.woff') format('woff');*/
/*}*/

body {
    background: #faf9f0;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
}

.logo {
    margin-top: 20px;
    float: left;
}

.logo img {
    width: 400px;
}

.header-container {
    padding-top: 10px;
    height: 180px;
}

.header-menu {
    float: right;
    max-width: 700px;
}

ul {
    text-align: center;
    white-space: nowrap;
}

.header-menu-top,
.header-menu-bottom {
    padding: 0;
}

.header-menu-top {
    margin-top: 40px;
}

.header-menu-item {
    display: inline-block;
    font: 700 italic 28px 'Comfortaa', serif;
    list-style: none;
    padding: 0 15px;
}

.header-menu-item a {
    color: #0088CC;
    text-decoration: none;
}

.header-menu-item a:after {
    display: block;
    content: '';
    background: #007CCC;
    border-bottom: solid 2px #007CCC;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.header-menu-item a:hover:after {
    transform: scaleX(1);
}

.main-left-block-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    max-width: 63%;
    min-height: 800px;
    float: left;
    text-align: center;
}

.main-left-block {
    margin: 0 auto;
}

.main-left-block-item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 3px ridge rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 185px;
    margin: 0 5px 10px 5px;
    height: 65px;
}

.main-left-block-item:hover {
    background: rgba(255, 255, 255, 0.5);

}

.main-left-block-item:active {
    border: 3px groove rgba(255, 255, 255, 0.5);
}

.main-left-block-item img {
    height: 70px;
    max-width: 175px;
}

.wow,
.archeage,
.bless,
.revelation,
.l2,
.l2c,
.bdo,
.gw2,
.tera,
.swtor,
.aion {
    filter: grayscale(100%);
}

.main-right-block {
    text-align: center;
}

h2 {
    font: 600 italic 30px 'Comfortaa', sans-serif;
    margin: 15px auto;
    text-align: center;
}

.social-sharing,
.social-pages {
    display: block;
    font: 600 italic 18px 'Comfortaa', sans-serif;
    margin: 2px auto;
    text-align: center;
}

.main-right-block-contacts-container {
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    border: 1px solid #c0c0c0;
    border-left: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    height: 480px;
    width: 37%;
}

.main-right-block-contacts {
    margin: 0 auto;
    height: 385px;
    width: 375px;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.main-right-block-contacts-information {
    margin: 10px 0 0 13px;
    float: left;
    text-align: left;
}

.main-right-block-contacts-information-item {
    margin-top: 6px;
    font-size: 14px;
}

.main-right-block-contacts-information img {
    height: 26px;
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
}

.main-right-block-contacts-information a {
    text-decoration: none;
    color: #000000;
}

.main-right-block-contacts-information-item:hover {
    font-weight: 600;
}

#vk_groups {
    display: inline-block;;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.social-pages-links img {
    width: 30px;
    height: 30px;
    margin: 6px 15px 4px 0;
}

.main-right-block-track-order-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 37%;
    height: 120px;
    border: 1px solid #c0c0c0;
    border-top: none;
    border-left: none;
    float: right;
}

.main-right-block-search-box {
    display: inline-block;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 4px;
    width: 260px;
}

.main-right-block-search-box-input {
    border: 1px solid #dbdbdb;
    float: left;
    font: 14px 'Arial', sans-serif;
    height: 24px;
    width: 190px;
}

.main-right-block-search-box-button {
    border: 3px groove rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 13px;
    height: 24px;
}

.main-right-block-search-box-button:hover {
    background: rgba(204, 204, 204, 0.5);
}

.main-right-block-search-box-button:active {
    border: 3px ridge rgba(255, 255, 255, 0.5);
}

.main-right-block-reviews-container {
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    border-radius: 0 0 10px 0;
    border: 1px solid #c0c0c0;
    border-top: none;
    border-left: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    height: 300px;
    width: 37%;
}

.main-right-block-reviews {
    margin: 0 auto;
    height: 205px;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 375px;
}

.main-right-block-reviews-hidden {
    height: 195px;
    width: 365px;
    margin: 5px;
    overflow: auto;
}

.reviews-table {
    display: table;
}

.reviews-table-header {
    display: table-header-group;
    font: 600 italic 20px 'Times New Roman', serif;
}

.reviews-table-row-group {
    display: table-row-group;
}

.reviews-table-row {
    display: table-row;
}

.reviews-table-cell {
    display: table-cell;
    border-bottom: 1px solid #c0c0c0;
    overflow: hidden;
}

.reviews-table-name {
    max-width: 110px;
    vertical-align: middle;
}

.reviews-table-review {
    padding-left: 5px;
    max-width: 225px;
}