/*CLEAR FIX*/
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
@font-face {
    font-family: 'Toms Handwritten'; /* Гарнитура шрифта */
    src: url(../fonts/toms_handwritten_new.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Fonts Online'; /* Гарнитура шрифта */
    src: url(../fonts/fonts_online.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Papyrus'; /* Гарнитура шрифта */
    src: url(../fonts/1_Papyrus.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Buccaneer Cyr'; /* Гарнитура шрифта */
    src: url(../fonts/buccaneer_cyr.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'ILK Comic'; /* Гарнитура шрифта */
    src: url(../fonts/ILK_Comic.otf); /* Путь к файлу со шрифтом */
}
/*@font-face {*/
    /*font-family: 'TomsHandwriting'; !* Гарнитура шрифта *!*/
    /*src: url(../fonts/TomsHandwriting.ttf); !* Путь к файлу со шрифтом *!*/
/*}*/
body {
    background: #faf9f0;
}
.wrapper {
    max-width: 1120px;
    margin: auto;
}
.logo {
    margin-top: 20px;
    float: left;
}
.logo img {
    width: 400px;
}
.header-container {
    padding-top: 10px;
    height: 180px;
}
.header-menu {
    float: right;
    width: 700px;
}
ul {
    text-align: center;
    white-space: nowrap;
}
.header-menu-top,
.header-menu-bottom{
    padding: 0;
}
.header-menu-top {
    margin-top: 40px;
}
.header-menu-item {
    display: inline-block;
    font: 600 italic 28px 'TomsHandwriting', sans-serif;
    list-style: none;
    padding: 0 15px;
}
/*.header-menu-item:hover {*/
    /*background: rgba(255,255,255,0.8);*/
    /*border-radius: 10px;*/
/*}*/
.header-menu-item a {
    color: #0088CC;
    text-decoration: none;
}
.header-menu-item a:after {
    display: block;
    content: '';
    background: #007CCC;
    border-bottom: solid 2px #007CCC;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}
.header-menu-item a:hover:after {
    transform: scaleX(1);
}
.main-left-block {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    padding: 75px 20px 20px;
    max-width: 65%;
    float: left;
}
.main-left-block-item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 3px ridge rgba(255,255,255,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 185px;
    margin: 5px;
    height: 65px;
}
.main-left-block-item:hover {
background: rgba(255,255,255,0.5);
}
.main-left-block-item img {
    height: 70px;
    max-width: 175px;
}
.main-right-block-contacts-container {
    text-align: center;
    box-sizing: border-box;
    width: 35%;
    height: 320px;
    border: 1px solid #000000;
    border-left: none;
    float: right;
}
.main-right-block-contacts-header {
    font: 600 italic 30px 'Buccaneer Cyr', sans-serif;
    margin: 20px auto;
}
.main-right-block-contacts {
    margin: 0 auto;
    height: 220px;
    width: 355px;
    border: 1px solid #000000;
    border-radius: 10px;
}








/*figcaption {*/
    /*!*font: 400 30px 'Toms Handwritten', sans-serif;*!*/
    /*font: 600 24px 'Delius Unicase', cursive;*/
    /*text-decoration: none;*/
    /*color: #000;*/
/*}*/