/*CLEAR FIX*/
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** fonts used for the icons **/
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('../fonts/fontomas-webfont.eot');
    src: url('../fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontomas-webfont.woff') format('woff'),
    url('../fonts/fontomas-webfont.ttf') format('truetype'),
    url('../fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranchiseRegular';
    src: url('../fonts/franchise-bold-webfont.eot');
    src: url('../fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/franchise-bold-webfont.woff') format('woff'),
    url('../fonts/franchise-bold-webfont.ttf') format('truetype'),
    url('../fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/bg.jpg") scroll;
}

.layout {
    margin: auto;
    max-width: 1100px;
}

.header-container {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 160px;
    padding-top: 10px;
    margin: 5px 0;
}

.logo {
    float: left;
    margin: 12px 0 0 30px;
}

.logo img {
    width: 380px;
}

.header-login {
    float: left;
    margin-left: 50px;
    width: 620px;
}

.form {
    float: right;
    width: 250px;
    display: inline-block;
}

.form-social-auth-register-text {
    text-align: center;
}

.form-social-auth-register-text img {
    height: 36px;
    margin: 10px 15px 5px 0;
    vertical-align: middle;
    width: 35px;
}

#wrapper p:first-child {
    margin: 0;
}

#wrapper p {
    margin: 8px 0;
}

#wrapper label {
    color: rgb(96, 84, 64);
    position: relative;
    vertical-align: top;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-style: italic;
}

input {
    outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]) {
    width: 84%;
    padding: 5px 5px 5px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(171, 151, 106);
    position: absolute;
    left: 10px;
    top: 25px;
    width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input {
    width: 30%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 0;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    border: 1px solid rgb(28, 108, 122);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0 0 0 3px rgb(254, 254, 254),
    0 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0 0 0 3px rgb(254, 254, 254),
    0 5px 3px 3px rgb(210, 210, 210);
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0 0 0 3px rgb(254, 254, 254),
    0 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-bottom: 10px;
}

#wrapper p.button input:hover {
    background: rgb(74, 179, 198);
}

#wrapper p.button input:active,
#wrapper p.button input:focus {
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

p.login.button {
    text-align: right;
    margin: 0;
    display: inline;
}

/* styling the checkbox "keep me logged in"*/
.keeplogin {
    margin: 0;
    display: inline;
}

.keeplogin input,
.keeplogin label {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
}

.keeplogin input#loginkeeping {
    margin-right: 5px;
    vertical-align: top;
}

.keeplogin label {
    width: 56%;
}

/*styling the links to change from one form to another */
.form-social-auth-register {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(235, 231, 225, 0.5);
    float: left;
    color: rgb(127, 124, 124);
    font-size: 16px;
    text-align: right;
    padding: 5px;
    margin-top: 14px;
}

#wrapper .form-social-auth-register .change_link {
    margin: 10px 0 0 0;
}

p.change_link a {
    display: inline-block;
    font-weight: bold;
    background: rgb(247, 248, 241);
    padding: 2px 2px;
    color: rgb(29, 162, 193);
    margin-left: 3px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(203, 213, 214);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#wrapper p.change_link a:hover {
    color: rgb(57, 191, 215);
    background: rgb(247, 247, 247);
    border: 1px solid rgb(74, 179, 198);
}

#wrapper p.change_link a:active {
    position: relative;
    top: 1px;
}

.header-menu-list {
    padding: 0;
    margin: 5px auto;
    text-align: center;
}

.header-menu-item {
    display: inline-block;
    list-style: none;
    padding: 0 5px;

}

.header-menu-item-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6', GradientType=0);
    background-color: #eae0c2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font: 600 18px 'Arial', serif;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.header-menu-item-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2', GradientType=0);
    background-color: #ccc2a6;
}

.header-menu-item-button:active {
    position: relative;
    top: 1px;
}

.header-menu-item a {
    color: #007CCC;
    text-decoration: none;
}

.header-menu-item a:after {
    border-bottom: solid 2px #007CCC;
    content: '';
    display: block;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.header-menu-item a:hover:after {
    transform: scaleX(1);
}

.main-left-block-container {
    background: #faf9f0;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    max-width: 63%;
    min-height: 890px;
    text-align: center;
}

.main-left-block-item {
    border: 3px ridge rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 65px;
    margin: 0 5px 10px 5px;
    padding: 10px;
    text-align: center;
    width: 185px;
}

.main-left-block-item:hover {
    background: rgba(255, 255, 255, 0.5);
}

.main-left-block-item:active {
    border: 3px groove rgba(255, 255, 255, 0.5);
}

.main-left-block-item img {
    height: 65px;
    max-width: 175px;
}

/*.wow,*/
/*.archeage,*/
/*.bless,*/
/*.revelation,*/
/*.l2,*/
/*.l2c,*/
/*.bdo,*/
/*.gw2,*/
/*.tera,*/
/*.swtor,*/
/*.aion {*/
/*filter: grayscale(100%);*/
/*}*/

.main-left-block-payment-methods-item img {
    display: inline-block;
    margin: 0 5px 10px;
}

.main-left-block-about-our-shop-container {
    background: #ebeae1;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 660px;
    min-height: 200px;
}

h1 {
    color: #ff8a07;
    font: 600 italic 15px 'Times New Roman', serif;
}

.main-left-block-about-our-shop-text {
    font: 600 normal 14px 'Times New Roman', serif;
}

.main-left-block-about-our-shop-warning {
    font: 400 normal 12px 'Times New Roman', serif;
    padding: 0 5px;
    text-align: justify;
}

.main-right-block-container {
    float: right;
    background: #faf9f0;
    border: 1px solid #c0c0c0;
    border-left: none;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 890px;
    text-align: center;
    width: 37%;
}

h2 {
    font: 600 italic 26px 'Lobster', sans-serif;
    margin: 15px auto;
    text-align: center;
}

.main-right-block-contacts-container {
    border-bottom: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 465px;
    text-align: center;
}

.main-right-block-contacts {
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 385px;
    text-align: center;
    width: 375px;
}

.main-right-block-contacts-information {
    float: left;
    margin: 10px 0 13px;
    text-align: left;
}

.main-right-block-contacts-information-item {
    font-size: 14px;
    margin-top: 6px;
}

.main-right-block-contacts-information img {
    height: 26px;
    margin: 0 5px 0 10px;
    vertical-align: middle;
    width: 26px;
}

.main-right-block-contacts-information a {
    color: #000000;
    text-decoration: none;
}

.main-right-block-contacts-information-item:hover {
    font-weight: 600;
}

#vk_groups {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.main-right-block-contacts-social-sharing,
.main-right-block-contacts-social-pages {
    display: block;
    font: 600 italic 18px 'Comfortaa', sans-serif;
    margin: 2px auto;
    text-align: center;
}

.main-right-block-contacts-social-pages-links img {
    margin: 6px 15px 4px 0;
    height: 30px;
    width: 30px;
}

.main-right-block-track-order-container {
    border-bottom: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 105px;
    text-align: center;
}

.main-right-block-search-box {
    display: inline-block;
    text-align: center;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    min-height: 30px;
    width: 260px;
}

.main-right-block-search-box-input {
    border: 1px solid #dbdbdb;
    float: left;
    font: 14px 'Arial', serif;
    height: 24px;
    width: 190px;
}

.main-right-block-search-box-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6', GradientType=0);
    background-color: #eae0c2;
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.main-right-block-search-box-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2', GradientType=0);
    background-color: #ccc2a6;
}

.main-right-block-search-box-button:active {
    position: relative;
    top: 1px;
}

.main-right-block-reviews {
    border: 1px solid #c0c0c0;
    margin: 0 auto;
    height: 240px;
    width: 375px;
}

.main-right-block-reviews-hidden {
    margin: 5px;
    overflow: auto;
    height: 230px;
    width: 365px;
}

.reviews-table {
    display: table;
}

.reviews-table-header {
    display: table-header-group;
    font: 600 italic 20px 'Times New Roman', serif;
}

.reviews-table-row-group {
    display: table-row-group;
}

.reviews-table-row {
    display: table-row;
}

.reviews-table-cell {
    display: table-cell;
    border-bottom: 1px solid #c0c0c0;
    overflow: hidden;
}

.reviews-table-name {
    max-width: 110px;
    vertical-align: middle;
}

.reviews-table-review {
    padding-left: 5px;
    max-width: 225px;
}

footer {
    clear: both;
}

.main-bottom-menu-list-container {
    background: #faf9f0;
    border: 1px solid #c0c0c0;
    border-top: none;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    clear: both;
}

.main-bottom-menu-list {
    margin: 0;
    padding: 0;
}

.main-bottom-menu-list-item {
    display: inline-block;
    font: 700 italic 22px 'Lobster', serif;
    list-style: none;
    padding: 5px 15px;
}

.main-bottom-menu-list-item a {
    color: #007CCC;
    text-decoration: none;
}

.main-bottom-menu-list-item a:after {
    content: '';
    border-bottom: solid 2px #007CCC;
    display: block;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.main-bottom-menu-list-item a:hover:after {
    transform: scaleX(1);
}

.footer-container {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 600 16px 'Times New Roman', serif;
    margin: 5px 0;
    padding-top: 10px;
    min-height: 75px;
    text-align: center;
}

.footer-copyright {
    display: inline-block;
    margin: 20px 25px 0;
    vertical-align: top;
    width: 32%;
}

.footer-buttons {
    background: url(../img/footer-menu-border.png) no-repeat top right, url(../img/footer-menu-border.png) no-repeat top left;
    display: inline-block;
    margin: 5px 0 0;
    width: 24%;
}

.footer-buttons-item {
    display: inline-block;
    padding: 0 10px;
}

.footer-buttons-item a {
    color: #000000;
    font-size: 10px;
    text-decoration: none;
}

.footer-tagline {
    display: inline-block;
    margin: 20px 25px 0;
    vertical-align: top;
    width: 32%;
}