/*@media screen and (max-width: 1086px) {*/
/*.main-left-block-container,*/
/*.main-right-block-container {*/
/*min-height: 1075px;*/
/*}*/

/*.main-left-block-about-our-shop-container {*/
/*margin: 10px 5px;*/
/*}*/
/*}*/

@media screen and (max-width: 1100px) {
    .layout {
        max-width: 990px;
    }

    .logo {
        margin: 20px 0 0 30px;
    }

    .logo img {
        width: 300px;
    }

    .header-login {
        margin-right: 30px;
    }

    .form {
        margin-left: 30px;
    }

    .header-container {
        text-align: center;
    }

    /** the magic icon trick ! **/
    [data-icon]:after {
        left: -80px;
    }

    .header-menu-item {
        font: 700 italic 22px 'Lobster', serif;
    }

    .main-left-block-container,
    .main-right-block-container {
        min-height: 1215px;
    }

    .main-left-block-container {
        width: 54%;
    }

    .main-right-block-container {
        width: 46%;
    }

    .footer-container {
        font: 600 14px 'Times New Roman', serif;
    }

    .footer-copyright,
    .footer-tagline,
    .footer-buttons {
        width: 30%;
    }

    .footer-copyright,
    .footer-tagline {
        margin: 15px 7px;
    }
}

/*@media screen and (max-width: 1024px) {*/
    /*.logo {*/
        /*margin: 20px 0 0 30px;*/
    /*}*/

    /*.logo img {*/
        /*width: 300px;*/
    /*}*/

    /*.header-login {*/
        /*margin-right: 30px;*/
    /*}*/

    /*.form {*/
        /*margin-left: 30px;*/
    /*}*/
/*}*/

@media screen and (max-width: 1000px) {
    .logo {
        margin: 20px 0 0 10px;
    }

    .logo img {
        width: 300px;
    }

    .header-login {
        margin-right: 10px;
    }

    .form {
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .layout {
        max-width: 880px;
        padding: 5px;
    }

    .header-container {
        height: 100px;
    }

    .sidenav,
    .sidenav-span {
        position: absolute;
        display: block;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(1, 1, 1, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .logo img {
        width: 240px;
    }

    .header-menu-container {
        display: none;
    }

    .main-left-block-container {
        max-width: 52%;
        min-height: 1145px;
        width: 52%;
    }

    .main-left-block-item {
        height: 45px;
        width: 135px;
    }

    .main-left-block-item img {
        height: 50px;
        max-width: 130px;
    }

    .main-right-block-container {
        max-width: 48%;
        min-height: 1145px;
        width: 48%;
    }
}
@media screen and (max-width: 810px) {
    .main-right-block-contacts-information-item {
        font-size: 12px;
    }
}
@media screen and (max-width: 780px) {
    .main-right-block-contacts-information-item {
        font-size: 11px;
    }
}
@media screen and (max-width: 768px) {
    .main-right-block-contacts {
        margin: 5px 5px;
    }
    .main-right-block-reviews {
        margin: 5px 5px;
    }
    .footer-container {
        font: 600 12px 'Times New Roman', serif;
        height: 90px;
    }

    .footer-buttons {
        margin: 0 auto;
        height: 70px;
    }

    .footer-buttons-item {
        padding: 0 6px;
    }

}
@media screen and (max-width: 750px) {
    .main-right-block-contacts-information {
        float: none;
        margin-left: 9%;
    }
    .main-right-block-contacts-information-item {
        display: inline-block;
        width: 45%;
    }
    #vk_groups {
        float: none;
        display: inline-block;
        /*margin-left: 15%;*/
    }
}

@media screen and (max-width: 715px) {
    .footer-emoney-title {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .layout {
        max-width: 350px;
    }

    .header-container {
        height: 245px;
        text-align: center;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }

    .logo img {
        width: 280px;
    }

    .header-menu-item {
        font: 700 italic 26px 'Lobster', serif;
    }

    .header-menu-item a {
        color: #054bcc;
        text-decoration: none;
    }

    .header-menu-item a:after {
        border-bottom: solid 2px #054bcc;
    }

    .header-menu-list-bottom {
        margin-top: 0;
    }

    .main-left-block-container {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: block;
        float: none;
        max-width: 100%;
        min-height: 0;
        width: 100%;
    }

    .main-right-block-container {
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        display: block;
        float: none;
        max-width: 100%;
        min-height: 0;
        width: 100%;
    }

    .main-right-block-contacts {
        text-align: center;
        width: 340px;
    }

    /*.main-right-block-contacts-information {*/
        /*margin: 10px 0 0;*/
    /*}*/

    .main-right-block-contacts-information img {
        margin-left: 5px;
    }

    .main-right-block-contacts-information-item {
        font-size: 11px;
    }

    #vk_groups {
        margin-right: 0;
    }

    .main-left-block-payment-methods-container {
        display: none;
    }

    .main-left-block-item {
        height: 45px;
        width: 135px;
    }

    .main-left-block-item img {
        height: 50px;
        max-width: 130px;
    }

    .main-right-block-track-order-container {
        display: none;
    }

    .main-right-block-reviews {
        border: 1px solid #c0c0c0;
        margin: 0 auto;
        height: 240px;
        width: 340px;
    }

    .main-right-block-reviews-hidden {
        width: 330px;
    }

    .reviews-table-review {
        padding-left: 5px;
        max-width: 195px;
    }

}